// Project Name and Version Header 

$project-name: "Super Awesome Project";
$version-number: "1.0, 2.0, 3.0";

$para-1: $project-name" is a sample project for Style Tiles—HTML & CSS version: powered by SASS and Compass.";

$para-2: "Style Tiles are a design deliverable consisting of fonts, colors and interface elements that communicate the essence of a visual brand for the web.  Style tiles are for when a moodboard is too vague and a comp is too literal. Style tiles establish a direct connection with actual interface elements without defining layout.";

$para-3:"View the styles tiles:";

/// Global Variables
$standard-spacing:calc-em(20px, $base-font-size);

/// Design Variables
$link-color: #F4651C;

$body-background-color: #666;

$page-background-color: #eee;
$page-margin: 0 auto ($standard-spacing * 4) auto;

// Logo is added as a background to a transparent image. Adjust height and width and source
$logo-file: "sample-logo.png";

$header-height: $logo-height + ($standard-spacing * 2);
$header-padding: $standard-spacing;
$header-background-color: rgba(#666, .5);

$main-text-shadow: 0 calc-em(1px, $base-font-size) calc-em(1px, $base-font-size) rgba(255,255,255,.35);

$footer-background-color: rgba(#dfdfdf, .75);
$footer-text-color: rgba(225,225,225,.25);
$footer-background-image: false;

