// Project Name and Version Header 

$version-number: "1.0";

$footer-text: 'Designed by Grey Boxes';
/// Global Variables
$standard-spacing:20px;

/// Design Variables
// sample 5 colors and 3 textures (add figures to html for more)
$colors: $link-color, #666666, #999999, #aaaaaa, #eee;
$textures: "concrete.png", "dark-concrete.png", "asphalt.png";
$adjectives:  current, conservative, whimiscal, contradictory;

$body-background-color: #666;

$page-background-color: #eee;
$page-margin: 0 auto ($standard-spacing * 4) auto;


// Logo is added as a background to a transparent image. Adjust height and width and source
$header-background-color: #aaa;

$aside-width: 360px;
$aside-margin: 0 0 $standard-spacing 0;
$aside-background-color: #bbb;
$aside-border: none;

// Figure (colors and textures boxes)
$figure-border:  1px #888 solid;


$button-corners: 10px;
$button-background-color: #999;
$button-text-shadow: 0px 1px 1px rgba(0,0,0,.5);
$button-border: 2px #eee solid;
$button-box-shadow: 1px 1px 2px rgba(0,0,0,.5);
$button-text-color-over: adjust-lightness($button-text-color, 10%);
$button-background-color-over: tint($button-background-color, 10%);

$footer-background-color: #bbb;
$footer-background-image: false;
$footer-text-color: rgba(#333,.75);
$footer-text-shadow:none;
