<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Style Tiles</title>
  <@style>
</head>
<body>
  <div>
    <section>
      <header>
        <a href="index.html" title="return to homepage">
          <figure>
          </figure>
        </a>
        <hgroup>
          <h1>Project Name: </h1>
          <h2>Version: </h2>
        </hgroup>
      </header>
    </section>
    <section>
      <article>
        <header>
          <hgroup>
            <h1>Sample Header: Heading</h1>
            <h2>Sample Header: Sub-Heading</h2>
          </hgroup>
        </header>
        <p>
        </p>
        <h2>Body Sub-Heading: Lorem Ipsum</h2>
        <p>
        </p>
        <h2><a href="#">Linked Body Sub-Heading: Lorem Ipsum</a></h2>
        <p>
        </p>
        <p>
          <a href="#">Example text link</a>
        </p>
        <p>
          Example <a href="#">button</a>
        </p>
      </article>
    </section>
    <section>
      <article>
        <header>
          <hgroup>
            <h1>Style Tiles</h1>
            <h2>About this Project</h2>
          </hgroup>
        </header>
        <p> 
        </p>
        <h2>What are Style Tiles?</h2>
        <p> 
        </p>
        <h2><a href="http://styletil.es/">Learn More about Style Tiles</a></h2>
        <p>
        </p>
        <ul>
          <li><a href="v1.html">Version 1</a></li>
          <li><a href="v2.html">Version 2</a></li>
          <li><a href="v3.html">Version 3</a></li>
          <li><a href="v4.html">Version 4</a></li>
          <li><a href="v5.html">Version 5</a></li>
          <li><a href="v6.html">Version 6</a></li>
          <li><a href="v7.html">Version 7</a></li>
          <li><a href="v8.html">Version 8</a></li>
          <li><a href="v9.html">Version 9</a></li>
        </ul>
      </article>
    </section>  
      <aside>
        <h3></h3>
          <figure>
          </figure>
          <figure>
          </figure>
          <figure>
          </figure>
          <figure>
          </figure>
          <figure>
          </figure>
       </aside>
       <aside>
        <h3></h3>
          <figure>
          </figure>
          <figure>
          </figure>
          <figure>
          </figure>
            <figcaption></figcaption>
        </aside>
        <aside>
        <ul>
          <h2></h2>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
      </aside>
    <footer>
      <figure>
      </figure>
    </footer>
  </div>
</body>
</html>