// Project Name and Version Header 
$version-number: "3.0";

$footer-text: '\2752\20 Designed by Grey Boxes \2751'; // ❒ Designed by Grey Boxes ❑

$para-1: "Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Sed posuere consectetur est at lobortis. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Curabitur blandit tempus porttitor.";

$para-2: "Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas faucibus mollis interdum. Maecenas sed diam eget risus varius blandit sit amet non magna.";

$para-3: "Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut id elit.";

/// Global Variables
$standard-spacing: calc-em(20px, $base-font-size);
//$inline-images: false;

/// Design Variables
// sample 5 colors and 3 textures (add figures to html for more)
$colors: $link-color, #666666, #999999, #aaaaaa, #eee;
$textures: "concrete.png", "dark-concrete.png", "asphalt.png";
$adjectives:  dull, conservative, boring, desaturated;

$body-background-color: #666;

$page-background-color: #eee;
$page-margin: 0 auto ($standard-spacing * 4) auto;


// Logo is added as a background to a transparent image. Adjust height and width and source
$header-background-color: #aaa;

$aside-width: calc-em(360px, $base-font-size);
$aside-margin: 0 0 $standard-spacing 0;
$aside-background-color: #bbb;
$aside-border: none;

// Figure (colors and textures boxes)
$figure-border:  calc-em(1px, $base-font-size) #888 solid;

$button-corners: calc-em(10px, $base-font-size);
$button-background-color: #999;
$button-text-shadow: 0 calc-em(1px, $base-font-size) calc-em(1px, $base-font-size) rgba(0,0,0,.5);
$button-border: calc-em(2px, $base-font-size) #eee solid;
$button-box-shadow: calc-em(1px, $base-font-size) calc-em(1px, $base-font-size) calc-em(2px, $base-font-size) rgba(0,0,0,.5);
$button-text-color-over: adjust-lightness($button-text-color, 10%);
$button-background-color-over: tint($button-background-color, 10%);

$footer-background-color: #bbb;
$footer-background-image: false;
$footer-text-color: rgba(#333,.75);
$footer-text-shadow:none;