body {
  font: normal 100% / #{$base-line-height} $primary-font;
}

pre,
code {
  font-family: 'DejaVu Sans Mono', Monaco, Consolas, monospace;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
  font-size: calc-em(24px, $base-font-size); /* 24px */
}

h2 {
  font-size: calc-em(22px, $base-font-size); /* 22px */
}

h3 {
  font-size: calc-em(20px, $base-font-size); /* 20px */
}

h4 {
  font-size: calc-em(18px, $base-font-size); /* 18px */
}

h5 {
  font-size: calc-em(16px, $base-font-size); /* 16px */
}

h6 {
  font-size: calc-em(15px, $base-font-size); /* 15px */
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px;
}